
  .title-host-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .title-location {
    flex: 1; //prend tout l'espace restant à gauche
  }
  
  .logement-title {
    color: #ff6060;
    font-weight:500;
    margin: 0;
  }
  
  .logement-location {
    color: black;
    font-size: 18px;
    margin-top: 5px;
  }

  .tags-rating-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px; 
  }

  .collapse-container {
    display: flex;          
    justify-content: space-between; 
    margin-top: 10px;      
    gap: 15px;
    border-radius: 20px;
    .collapse {
      flex: 1;                  
    }
  }
  
  
    
   
  
  