.main-container {
  width: 100%;
  margin: 0 auto;
}

.containers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .title-location {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .tags-container {  
        display: flex;
        justify-content: flex-start; 
        flex-wrap: wrap;
      }
    }

    .logement-title {
      color: #ff6060;
      margin: 0;
      font-weight: 400;
    }

    .logement-location {
      font-size: 18px;
      margin-top: 5px;
      font-weight: 500;
    }

    .host-rating {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: 768px) {
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}

.collapse-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    gap: 50px;  
    flex-direction: row;  
    justify-content: space-between;
  }

  .collapse {
    flex: 1;
    border-radius: 10px;
  }
}
