$color_1: #000;

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
}
.nav {
	display: flex;
	margin-left: auto;
	flex-direction: row;
	gap: 40px;
	align-items: center;
}
.nav-link {
	margin-left: 20px;
	text-decoration: none;
	color: $color_1;
	font-weight: 400;
	&:hover {
		text-decoration: underline;
	}
}
