.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;

    main {
      flex-grow: 1;
      margin: 20px;
    }

  
  @media screen and (min-width: 768px) {
    
    main {
      margin: 60px; 
      display: flex;
      flex-direction: row; 
      gap: 30px;
    }
  }

  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    main {
      display: flex;
      flex-direction: column; 
      gap: 30px;
    }
  }
}
