.notfound {
    display: block;
    text-align: center;
    margin: 50px auto;
    
    
  
    .notfound-title {
      font-size: 13rem;
      color: #ff6060; 
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .notfound-message {
      font-size: 1.8rem;
      color: #ff6060;
      margin: 90px 20px;
      font-weight: 400;
    }
  
    .notfound-link {
      margin-top: 50px;
      font-size: 1rem;
      color: black;
      text-decoration: underline;
      padding: 10px 20px;
      
     
    }
  
    @media screen and (max-width: 768px) {


      .notfound-title {
        font-size: 6rem; 
      }

      .notfound-message {
        font-size: 1.2rem;
      }

      .notfound-link {
        margin-top: 30px;
        font-size: 0.9rem;
        padding: 8px 16px; 
      }
    }
}